header{
  font-family: 'Wire One', sans-serif;
  font-size: 80px;
  /* background-color: red; */
  max-width: 200px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

nav{
  margin-top: 20px;

}

nav ul{
  list-style-type: none;
  max-width: 200px;
  padding: 0px;
  background-color: #6699ff;
  margin: 0px;
  border-radius: 6px 6px 20px 20px;
  float:left;
}

nav li{
  border-bottom: 1px solid black;

  padding: 10px 16px;
}

nav li:last-child{

  border-bottom: none;

}

nav li:hover{
  background-color: #0044cc;
  border-radius: 5px;
}

nav li a{
  text-decoration: none;
  font-family: sans-serif;
  display:block;
  padding: 3px;
  color:white;
}

nav li a:visited{
  color: white;
}
