/*Color Scheme:
    background-color: #000000
    background-color: #0000ee
    background-color: #808080
    background-color: #990033
    background-color: #de2226
    background-color: #ffffff



*/

/********** Text Styles ********/

h2 {
    color:#de2226;
}

 /********** Body *********/
#backgroundImage{
    background-image: url(../images/site/background.jpg);
    background-repeat: none;
    background-size: 100%;
}

body {
    background-image: url('../images/site/background.jpg');
    background-repeat: none;
    background-size: 100%;
}

/******** Navigation Container ***********/
nav{
    background-color: #de2226;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
nav #links{
    display: flex;
    flex: row;
    justify-content: space-evenly;
    list-style: none;
    color: #ffff;
    width: 80%;
    font-size: 20px;
    margin-top:0px;
    padding-left: 0px;
    height: 40px;
    align-items: center;

}
/******** Welcome to Acme Container ***********/
#banner1{
    background-image: url(/finalproject/acme/images/site/feature.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}
#banner_container{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
#banner_1_list{
    /* display: flex;
    justify-content: flex-end;
    flex-direction: row; */

    /* position: absolute;
    top: 16%;
    right: 19%; */
    padding: 10px;
    list-style-type: none;
    /* text-align: right; */
    color: red;
}

/******** Logo Container ***********/
#logo-div{
    background-color: #ffff;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}


.container{
background-color: #ffff;
width: 85%;
margin-left: auto;
margin-right: auto;
}


/******** Recipe Container ***********/
.recipe_container{
    display: flex;
    flex-wrap: wrap;


}



footer{
    font-size: 12px;
   text-align: center;

}
#copyright{
   text-align: center;
}

/* @media only screen and (min-width: 990px){
    #banner_1_list{
        position: absolute;
        top: 60%;
        right: 20%;
        list-style-type: none;
        text-align: right;
        color: red;
    }
} */
